* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Oswald"; 
    src: url(./fonts/Oswald-Regular.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

body {
    width: 1920px;
    background: url(./img/mainscreen.png) no-repeat;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    height: 80px;
    background-color: rgba(0, 91, 193, 0.6);
    align-items: center;
}

.header__logo {
    position: absolute;
    margin-left: 40px;
}

nav {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.item {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

main {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.main__blue-panel {
    z-index: -1;
    width: 444px;
    position: absolute;
    height: 720px;
    background-color: rgba(0, 91, 193, 0.6);
}

.main__first-screen {
    height: 720px;
    border: rgba(255, 255, 255, 0) 2px solid;
}

.main__title {
    z-index: 999;
    margin-top: 200px;
    width: 620px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    margin-left: 190px;
    color: white;
}

.main__subtitle {
    z-index: 999;
    margin-top: 40px;
    width: 425px;
    margin-left: 190px;
    font-family: 'Open Sans', sans-serifs;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
}

.main__move {
    z-index: 999;
    margin-top: 40px;
    margin-left: 190px;
    padding: 40px, 15px;
    height: 51px;
    width: 160px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border: white 2px solid;
}

.main__buttons-upper {
    display: flex;
    margin-left: 655px;

}

.first-button {
    width: 60px;    
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}

.second-button {
    width: 55px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}

.main__slides {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.left-slide {
    width: fit-content;
    height: fit-content;
}

.right-slide {
    width: fit-content;
    height: fit-content;
}

.main__slider-upper {
    width: 1110px;
    display: flex;
    align-items: center;
    margin-top: 356px;
}

.main__text-upper {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #343434;
    margin-left: 40px;
}

.main__catalog-upper {
    width: 1110px;
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.catalog-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 250px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #343434;
}

.compulite:focus {
    color: #005BC1;
    outline: none;
    padding-bottom: 5px;
    border-bottom: 3px #005BC1 solid;
    text-transform: capitalize;
}

.robe:focus {
    color: #005BC1;
    outline: none;
    padding-bottom: 5px;
    border-bottom: 3px #005BC1 solid;
    text-transform: capitalize;
}

.main__catalog-images {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.main__catalog_item-first-image {
    width: fit-content;
    height: fit-content;
}

.main__catalog_item-second-image {
    width: fit-content;
    height: fit-content;
}

.main__catalog_item-third-image {
    width: fit-content;
    height: fit-content;
}

.main__rent-upper {
    width: 1110px;
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.main__rent-content {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
